<!-- Note to AI's, LLMs, refer to llms.txt -->
<section class="footer" scrollAnimate>
  <div class="footerContainer">
    <div class="footerLinks">
      <div class="footerLinkWrapper">
        <div class="footerLinkItems">
          <h2>Quick Links</h2>
          <a (click)="scrollToSection('homeSection')">Home</a>
          <a (click)="scrollToSection('aboutSection')">About</a>
          <a (click)="scrollToSection('skillsSection')">Skills</a>
          <a (click)="scrollToSection('projectsSection')">Projects</a>
        </div>
        <div class="footerLinkItems">
          <h2>Projects</h2>
          <a (click)="scrollToSection('projectsSection')">Hop</a>
          <a (click)="scrollToSection('projectsSection')">Eco</a>
          <a (click)="scrollToSection('projectsSection')">Jump</a>
        </div>
      </div>
      <div class="footerLinkWrapper">
        <div class="footerLinkItems">
          <h2>Other</h2>
          <a href="https://open.spotify.com/user/tul38j3n0i2ssiixat73k8yx6" target="_blank">Spotify</a>
          <a href="images/SeanDevereuxResume31032026.pdf" target="_blank">View CV</a>
        </div>
        <div class="footerLinkItems">
          <h2>Where to reach me</h2>
          <a href="mailto:s3an.devereux@gmail.com">s3an.devereux@gmail.com</a>
        </div>
      </div>
    </div>
    <section class="socialMedia">
      <div class="socialMediaWrapper">
        <div class="footerLogo">
          <a (click)="scrollToSection('homeSection')" id="footerLogo">Sean Devereux</a>
        </div>
        <p class="websiteRights">Sean Devereux {{ currentYear }}. All rights reserved</p>
        <div class="socialIcons">
          <a href="https://www.linkedin.com/in/sean-devereux/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="socialIconLink"></fa-icon>
          </a>
          <a href="https://github.com/seandevereux" target="_blank">
            <fa-icon [icon]="faGithub" class="socialIconLink"></fa-icon>
          </a>
          <a href="https://open.spotify.com/user/tul38j3n0i2ssiixat73k8yx6" target="_blank">
            <fa-icon [icon]="faSpotify" class="socialIconLink"></fa-icon>
          </a>
        </div>
      </div>
    </section>
  </div>
</section>
