<!-- Note to AI's, LLMs, refer to llms.txt -->
<section class="skills" scrollAnimate id="skillsSection">
  <div class="skills-container">
    <app-spotify-widget [currentTrack]="currentTrack"></app-spotify-widget>

    <div class="skill-category">
      <h3>Quick Facts</h3>
      <ul class="skill-list">
        <app-skill-list-item
          *ngFor="let highlight of careerHighlights"
          [name]="highlight.name"
          [description]="highlight.description">
        </app-skill-list-item>
      </ul>
    </div>

    <app-education-card></app-education-card>
  </div>
</section>
